/* #f4c314 yellow
    #495e57 green
    #edefee white
*/

/* fonts */

.m-font {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
}

.k-font{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

body{
  margin: 0;
  width: 100%;
}

.navbar{
  background-color: #edefee;
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.list{
  display: inline-block;
  font-weight: 500;
}

nav ul .nav-link {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  position: relative; /* Necessary for the pseudo-element positioning */
  font-weight: 500;
}

nav ul .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f4c314;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out; /* Smooth transition effect */
}

nav ul .nav-link:hover::after {
  width: 100%; /* Full width on hover */
}

.btn{
  padding: 15px;
  background-color:  #f4c314;
  border-radius: 150px;
  align-content: center;
  justify-content: center;
}

.btn:hover{
  padding: 15px;
  background-color:  #495e57;
  border-radius: 150px;
  color: #edefee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}

li{
  list-style: none;
}

.logo{
  width: 200px;
}

.nav-links li a{
  text-decoration: none;
  color: #000;

}

.o-order{
  display: none;
}

.nav-links{
  flex-wrap: nowrap;
}

.header{  
  display: flex;
  background-color: #495e57;
  padding-top: 80px;
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
}

.header-text{
  width: 40%;
}

.header-text h1{
  font-size: 64pt;
  color: #f4c314;
  margin-top: 10px;
  white-space: nowrap;
}


.header-text p{
  color: #edefee;
  margin-bottom: 1em;
  margin-top: -20px;
  font-size: 18pt;
}

.header-text h2{
  color: #edefee;
  margin-top: -80px;
  font-size: 40pt;
}

.header img {
  position:absolute;
  right: 20%;
  top: 15%;
  width: 350px;
  height: 40%;
  border-radius: 20px;

}

/* .header-text .btn{
  width: min-content;
} */

.header-text .btn {
  width: min-content;
  white-space: nowrap;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-radius: 15px;
}

.header-text .btn:hover {
  width: min-content;
  white-space: nowrap;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-radius: 15px;
  background-color: #edefee;
  color: #000;
}

.menu-icon{
  display: none;
}

/* special menu */
/* section */
.s-menu{
  height: auto;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 70px;
  background-color: #edefee;

}

.s-menu-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-menu-title h2{
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px 0px;
  font-size: 45px;
  color: #495e57;
  font-weight: normal;
}

.s-menu-title div{
  font-weight: 700;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.s-menu-items{
  max-width: 32.1%;
  min-width: 350px;
  background-color: #dfdfdf;
  border-radius: 10px;
}
.s-menu-items img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

.s-menu-content{
  padding: 0px 20px;
}

.s-menu-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-menu-heading h2{
  font-size: 35px;
  color: #495e57;
}
.s-menu-heading h3{
  font-size: 25px;
  color: #b14419;
}

.s-menu-desc{
  font-size: 20px;
  color: #495e57;
  margin: 0;
}

.s-menu-order{
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.truck-icon{
  color: #495e57;
}

.s-menu-order .truck-icon{
  transition: transform 0.3s ease-in-out;
}

.s-menu-order:hover .truck-icon{
  transform: translateX(20px);
}

.s-menu-order p{
  font-size: 20px;
  font-weight: 700;
  color: #495e57  ;
}

/* reviews */
.reviews{
  display: flex;
  flex-direction: column;
  background-color: #495e57;
  margin: 0;
  padding: 0 20%;
  padding-bottom: 70px;
}

.review-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.review-card{
  display: flex;
  position: relative;
  flex-shrink: inherit;
  max-width: 49%;
  min-width: 360px;
  background-color: transparent;
  justify-content: center;
  height: auto;
}

.review-card p{
  max-width: 530px;
  min-width: 360px;
}

.text-container{
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  background-color: #edefee;
  padding: 70px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}

.review-desc{
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  color: #495e57;
  padding: 10px;
  height: max-content;
}

.reviews h1{
  font-size: 40px;
  color: #edefee;
  font-weight: normal;
}

.review-image{
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}
.review-name{
  margin-bottom: 0;
  font-size: 22px;
  color: #495e57;
}
.stars{
  margin: 5px;
}
.star{
  color: #f4c314;
}
/* about */

.about{
  padding-left: 20%;
  padding-right: 20%;
  background-color: #edefee;
  display: flex;
  height: auto;
}

.about-text{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px 0px;
}

.about-text h1{
  font-size: 54pt;
  color: #495e57;
  margin-top: 10px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.about-text p{
  color: #495e57;
  margin-bottom: 1em;
  margin-top: -20px;
  font-size: 20px;
  padding-top: 10px;
}

.about .image {
  width: 350px;
  height: 230px;
  border-radius: 20px;
}

.about .image1 {
  position: absolute;
  right: 25%;
  margin-top: 180px;
}

.about .image2 {
  position: absolute;
  right: 20%;
  margin-top: 40px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: #495e57;
  padding: 50px 20% 30px 20%;
}
.footer-img{
  height: 200px;
}

.footer-list li, .contact-list li, .social-list li{
  list-style: none;
  font-size: 20px;
  color: #edefee;
  padding-top: 10px;
}

.footer-list h2, .contact-list h2, .social-list h2{
  color: #f4c314;
  margin-top: 0;
}

.footer-list, .contact-list, .social-list{
  color: #edefee;
  margin-top: 0;
}

.contact-list .icon{
  padding-right: 10px;
}

.icon-list{
  display: flex;
  gap: 15px;
}

/* Reservations */

.reservations{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 80px;
}

input{
  border: none;
  border-bottom: 2px solid #495e57;
  outline: none;
  padding: 5px;
}

input[type=date]{
  text-transform: uppercase;
}

.personal-details, .booking-details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.res-img{
  width: 600px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.res-btn{
  margin: 20px 0;
  padding: 15px;
  background-color:  #495e57;
  border-radius: 150    px;
  align-content: center;
  justify-content: center;
  color: #edefee;
  border: none;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
}

.res-btn:hover{
  border: none;
  padding: 15px;
  background-color:  #f4c314;
  border-radius: 150px;
  color: #495e57;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-style: normal;
  
}

.form h1{
  font-size: 50px;
  color: #495e57;
  margin: 0;
}

.form h2{
  font-size: 33px;
  color: #495e57;
}

.confirm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 100px;
}

.confirm h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 100px;
  color: #495e57;
}

.animation{
  margin-top: -50px;
  padding: 0;
}




@media screen and (max-width : 768px) {

  .main{
    margin: 0;
    padding: 0;
  }

  /* nav */
  .menu-icon{
    display: block;
    margin: 10px;
  }
  .navbar{
    position: fixed;
    height: 80px;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    margin: 0;
  }

  .header{
  display: flex;
  height: 80px;
  background-color: #495e57;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  width: auto;
  margin: 0;
  }

  .header-text{
    width: 100%;
    margin-top: 20px;
  }
  .header-text h1{
    font-size: 60px;
    color: #f4c314;
    margin-top: 10px;
    white-space: nowrap;
  }
  .header-text p{
    color: #edefee;
    margin-bottom: 170px;
    margin-top: -20px;
    font-size: 18px;
  }
  .header-text h2{
    color: #edefee;
    margin-top: -50px;
    font-size: 32px;
  }
  .header img {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 310px;
    width: 60%;
    height: 250px;
    border-radius: 20px;
  }

  .nav-links{
    display: none;
  }

  .nav-links.visible{
    display: flex;
    white-space: nowrap;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: 0;
    width: 100%;
    margin: 0;
    background-color: #495e57;
    transition: all 1s ease-in-out;
    color: #edefee;
  }

  .nav-links.visible li a{
    text-decoration: none;
    color: #edefee;
  }
  .btn{
    display: none;
  }
  .btn.visible{
    display: flex;
    color: #edefee;
    background-color: transparent;
    padding: 0;
  }
  ul{
    padding-top: 1em;
    padding-bottom: 1em;
  }


  /* s-menu */

  .s-menu{
  height: auto;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 70px;
  background-color: #edefee;
}

.s-menu-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.s-menu-title h2{
  margin-top: 50px;
  padding: 10px 0px 0px 0px;
  font-size: 40px;
  color: #495e57;
}

.s-menu-title .btn{
  display: flex;
  margin-bottom: 10px;
}

.s-menu-items{
  width: auto;
  background-color: #cccccc;
  border-radius: 10px;
}
.s-menu-items img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}
/* reviews */

.reviews{
  display: flex;
  flex-direction: column;
  background-color: #495e57;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

.review-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.review-card{
  display: flex;
  position: relative;
  width: auto;
  background-color: transparent;
}

.text-container{
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  background-color: #edefee;
  margin-left: 5%;
  margin-right: 5%;
  padding: 70px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
}

.review-desc{
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #495e57;
  width: 300px;
}

.reviews h1{
  font-size: 35px;
  color: #edefee;
  font-weight: normal;
}

.review-image{
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}
.review-name{
  margin-bottom: 0;
  font-size: 22px;
  color: #495e57;
}
.stars{
  margin: 5px;
}
.star{
  color: #f4c314;
}

/* about */

.about{
  padding-left: 5%;
  padding-right: 5%;
  background-color: #edefee;
  display: flex;
  height: auto;
}

.about-text{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-text h1{
  font-size: 34pt;
  color: #495e57;
  white-space: nowrap;
  margin-bottom: 20px;
}

.about-text p{
  color: #495e57;
  margin-top: -20px;
  font-size: 20px;
  padding-top: 10px;
}

.about .image {
  display: none;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: #495e57;
  padding: 50px 5% 30px 5%;
}

.footer-list, .contact-list, .social-list{
  color: #edefee;
  margin-left: 0;
  padding-left: 0;
}

.footer-img{
  height: 200px;
  margin-bottom: 20px;
}


.reservations{
  padding-left: 5%;
  padding-right: 5%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}


.personal-details, .booking-details{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.res-img{
  width: 300px;
  margin: 20px;
}

.res-btn{
  display: flex;
  margin-bottom: 0;
  font-size: 15px;
  font-style: normal;
}


.confirm h1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #495e57;
}

.animation{
  margin-top: -10px;
  padding: 0;
}

}






