body{
  margin: 0;
  width: 100%;
}
.navbar{
  height: 80px;
  background-color: aqua;

}

.logo {
  height: auto;
  width: 200px;
}

.nav-items{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  justify-content: space-between;
}

.nav-ul{
  list-style: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin: 10px 20px 10px 20px;
  color: #000;
  font-weight: 500;
}

.nav-ul li {
  text-decoration: none;
  margin: 10px 20px 10px 20px;
  color: #000;
  font-weight: 500;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.temp{
  height: 1000px;
}

.about{
  height: 1000px;
}
